<mat-card class="question-card">
  <mat-card-header>
    <div mat-card-avatar class="question-header-image"></div>
    <mat-card-title>Angular quiz</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p>
      The question is that you are fool. Yes or no?
    </p>
    <mat-radio-group class="radio-group" [(ngModel)]="favoriteSeason">
        <mat-radio-button class="radio-button" *ngFor="let season of seasons" [value]="season">
          {{season}}
        </mat-radio-button>
      </mat-radio-group>
      <div class="selected-value">you are fool: {{favoriteSeason}}</div>
  </mat-card-content>
</mat-card>